{% load static % }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image" href="{% static 'images/logo.png'%}">
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>
<body>
    <h1>Welcome...</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui similique, tempora voluptatum iure dolor dolore animi unde id nihil eius enim quidem! Assumenda nesciunt aliquid est voluptas nulla accusamus hic.</p>
</body>
</html>